<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <title>Feature Requests</title>
   </head>
   <body>
      <h3>
         | <a href = "{{ url_for('view') }}">Active Requests</a> | 
         <a href = "#" id = "createLink">Create New</a> |
      </h3>
      <hr/>
      {%- for message in get_flashed_messages() %}
      {{ message }}
      {%- endfor %}
      <h3>Features</h3>
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col">Title</th>
               <th scope="col">Description</th>
               <th scope="col">Client</th>
               <th scope="col">Client Priority</th>
               <th scope="col">Target Date</th>
               <th scope="col">Product Area</th>
            </tr>
         </thead>
         <tbody>
            {% for requested in feature %}
            <tr>
               <td>{{ requested.title }}</td>
               <td>{{ requested.description }}</td>
               <td>{{ requested.client }}</td>
               <td>{{ requested.clientPriority }}</td>
               <td>{{ requested.targetDate }}</td>
               <td>{{ requested.productArea }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <!-- The Modal -->
      <div class="modal fade" id="createModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                  <h4 class="modal-title">Request a Feature</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body">
                  {%- for category, message in get_flashed_messages(with_categories = true) %}
                  <div class = "alert alert-danger">
                     {{ message }}
                  </div>
                  {%- endfor %}
                  <form action = "{{ request.path }}" method = "post">
                     <div class="form-group">
                        <label for = "title">Title</label><br>
                        <input type = "text" name = "title" placeholder = "Title" class="form-control" /><br>						
                        <label for = "description">Description</label><br>
                        <textarea type = "text" name = "description" placeholder = "description" class="form-control"></textarea>
                        <br>
                        <label for="client">Client</label>
                        <select class="form-control" id="client" name="client">
                           <option>Client A</option>
                           <option>Client B</option>
                           <option>Client C</option>
                        </select>
                        <label for = "clientPriority">Client Priority</label><br>
                        <input type = "text" name = "clientPriority" placeholder = "Client Priority" class="form-control" /><br>
                        <label for= "targetDate">Target Date</label>
                        <input id="datepicker" name = "targetDate" width="276" />
                        <script>
                           $('#datepicker').datepicker({
                           	uiLibrary: 'bootstrap4'
                           });
                        </script>
                        <label for="productArea">Product Area</label>
                        <select class="form-control" id="productArea" name="productArea">
                           <option>Policies</option>
                           <option>Billing</option>
                           <option>Claims</option>
                           <option>Reports</option>
                        </select>
                     </div>
                     <input type = "submit" value = "Submit" class="btn btn-primary" />
                  </form>
               </div>
            </div>
         </div>
      </div>
      <script>
         $(document).ready(function(){
             $("#createLink").click(function(){
                 $("#createModal").modal();
             });
         });
      </script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" crossorigin="anonymous"></script>	  
   </body>
</html>